#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

ion-content {
  --ion-background-color: olive;
  @media screen and (max-width: 992px) {
    --ion-background-color: blue;
    }
  @media screen and (max-width: 600px) {
    --ion-background-color: #ffce00;
    }
}


.clasebotonp{
  --background: #006600;
}


.clasebotons{
  --background: #002541;
  @media only screen and (orientation: landscape) {
    --background: pink;
  }
}

