#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 40px;
  line-height: 46px;
}

::content{
  font-size: 30px;
}






ion-content {
  @media only screen and (orientation: landscape) {
    --background: yellow;
  }
  @media screen and (max-width: 900px) {
    --ion-background-color: #FFA07A;
    }
    @media screen and (min-width: 600px) {
      --ion-background-color: blue;
    }
    @media screen and (max-width: 600px) {
      --ion-background-color: black;
    }
    
}


.user{
  --background: yellow;
  @media only screen and (orientation: landscape) {
    --background: pink;
  }
}
